Git-Extension/docker-compose.yml
Git-Extension/db.sqlite3
Git-Extension/ontologies
Git-Extension/__pycache__
Opi/docker-compose.yml
Opi/target/
Opi/ontometrics.war
Opi/build/
Opi/target/
Opi/data/
ontologies/
docker-compose.yml
.vscode
Git-Extension/db.sqlite3
Git-Extension/rest/__pycache__/
Git-Extension/ontoMetricsAPI/__pycache__

Git-Extension/rest/migrations
/.DS_Store
