[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
xmltodict = "*"
pygit2 = "*"
requests = "*"
cryptography = "*"
PyMySQL = "*"
django-rq = "*"
django-braces = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"
